*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#eeeeff, #c8c7ff);
}

.chatbot-popup{
    width: 420px;
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

.chat-header{
    display: flex;
    padding: 1rem 1.4rem;
    background: #5350c4;
    align-items: center;
    justify-content: space-between;
}

.header-info{
    display: flex;
    align-items: center;
    gap: 16px;
    flex-shrink: 1;
}

.chatbot-logo{
    background: #fff;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding: 8px;
}

.logo{
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: #fff;
}

#close-chatbot{
    border: none;
    outline: none;
    border-radius: 50%;
    height: 44px;
    width: 44px;
    cursor: pointer;
    background:#3d39ac6a ;
    backdrop-filter: blur(20px);

    text-align: center;
    transition: background 0.3s ease;

    i{
        color: #fff;
        font-weight: bold;
        font-size: 1.6rem;
    }
}

#close-chatbot:hover{
    background: #433ddf; 
}

.chat-body{
    padding: 1.2rem 1.4rem;
    display: flex;
    gap: 20px;
    overflow-y: auto;
    height: 460px;
    flex-direction: column;
    margin-bottom: 76px;
}

.chat-body .message{
    display: flex;
    align-items: center;
    gap: 12px;
}

.bot-avatar{
    height: 36px;
    width: 36px;
    padding: 6px;
    fill: #fff;
    flex-shrink: 0;
    align-self: flex-end;
    background: #5350c4;
    border-radius: 50%;
}

.message-text{
    padding: 12px 12px;
    max-width: 75%;
    font-size: 0.9rem;
}

.user-message{
    flex-direction: column;
    align-items: flex-end;
}
.bot-message .message-text{
    border-radius: 13px 13px 13px 3px;
    padding: 12px 12px;
    background: #e3e3e3;
}

.chat-body .user-message .message-text{
    color: #fff;
    background: #5350c4;
    border-radius: 13px 13px 3px 13px;
}

.thinking-indicator .dot{
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background: #6f6bc2;
    animation: dotPulse 1.8s ease-in-out infinite;
}
.chat-footer{
    position: absolute;
}